body {
    display: flex;
    flex-direction: column;
}
.header, .footer{
    background-color: #1F2937;
    color: white;
}

.header {
}

.title {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.logo {
    width: 200px;
    display: block;
}

.logo img {
    width: 25%;
}

.menu {
    float: right;
}

.menu ul {
    list-style: none;
    margin: 8px;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato';
}

.menu a:hover {
    text-decoration: underline;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:32px;
    padding: 32px;
    margin-bottom: 8px;
}

.image, .content {
    flex: 1 1 0%; 
}

.image img {
    width: 30vw;
    height: 20vw;
    object-fit: cover;
   
}



.content {

}

.image img{
    width: 50%;
}

/* row-1 css */

.row-1 {
    text-align: center;
}
.container {
    display: flex;
    padding: 32px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.info {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}
/* .img {
    width: 300px;
    height: 200px;
} */
.trending-food {
    border: 1px solid #3882F6;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    width: 300px;
}

.trending-food img {
    width: 50%;
}

.row-2 {
    background-color: #E5E7EB;
    text-align: center;
    font-size: 36px;
    font-style: italic;
}

.row-3 {
    background: #3882F6;
    width: 680px;
    border-radius: 10px;
    gap: 16px;
    padding: 16px;
    color: white;
}

.online-order {
    font-size: 18px;
    font-weight: 700;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.menu {
    background: #3882F6;
    border: 1px solid #ddd;
    color: white;
}

/* footer */
.footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}